/* ========= GLOBAL STYLING ========= */
body {
    margin: 0;
}



/* ========= HOME PAGE STYLING ========= */
#home-background {
    margin: 0;
    padding: 40px;
}

#biography {
    height: fit-content;
    width: 80%;
    margin: 0 auto;
}

#bio-title {
    text-align: center;
}

#site-purpose {
    height: fit-content;
    width: 80%;
    margin: 0 auto;
}




/* ========= GLOBAL STYLING ========= */
/* ========= GLOBAL STYLING ========= */
/* ========= GLOBAL STYLING ========= */
/* ========= GLOBAL STYLING ========= */
/* ========= GLOBAL STYLING ========= */

