/* ========= GLOBAL STYLING ========= */
body {
    margin: 0;
    background:midnightblue;
}

/* ========= NAVBAR STYLING ========= */
#main-navbar {
    border: black 1px solid;
    border-radius: 3px ;
    background: url("./images/sky.jpeg");
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}



/* ========= HOME PAGE STYLING ========= */
#home-background {
    margin: 0;
    padding: 40px;
    background: url("./images/background.jpeg");
    height: 100%;
    position: absolute;
}

#biography, #site-purpose {
    height: fit-content;
    width: 70%;
    padding: 10px 20px;
    background: bisque;
    border: black 2px ridge;
    border-radius: 10px;
    margin: 0 auto 20px;
}

#bio-title, #purpose-title {
    margin: 0;
    text-align: center;
}




/* ========= GLOBAL STYLING ========= */
/* ========= GLOBAL STYLING ========= */
/* ========= GLOBAL STYLING ========= */
/* ========= GLOBAL STYLING ========= */
/* ========= GLOBAL STYLING ========= */

